Repository maisie-dev/maisie, changes with the owners that CODEOWNERS names for each.
All owners: @zofiakochutek, @Clechay, @mkochanowski

Update LICENSE
  LICENSE
Owners: @zofiakochutek, @Clechay, @mkochanowski

Fix frontend Dockerfile not starting
  frontend/Dockerfile
  frontend/Dockerfile.production
  frontend/yarn.lock
Owners: @Clechay

remove unnecesary lines
  frontend/Dockerfile
  frontend/Dockerfile.production
Owners: @Clechay

Specify image
  frontend/Dockerfile
Owners: @Clechay

prevent host/image node_modules dirs from mixing
  frontend/.dockerignore
Owners: @Clechay

Specify image in production Dockerfile
  frontend/Dockerfile.production
Owners: @Clechay

Update README.rst
  README.rst
Owners: @zofiakochutek, @Clechay, @mkochanowski

Update azure-pipelines.yml
  azure-pipelines.yml
Owners: @zofiakochutek, @Clechay, @mkochanowski

Update README.rst
  README.rst
Owners: @zofiakochutek, @Clechay, @mkochanowski

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: @zofiakochutek, @Clechay, @mkochanowski

Update README.rst
  README.rst
Owners: @zofiakochutek, @Clechay, @mkochanowski

Verifying checksums when downloading models.
  backend/app/api/models.py
  backend/app/models.py
  backend/init_db.py
  client/maisie/cli/models.py
  client/maisie/resources/models.py
Owners: @mkochanowski, @zofiakochutek

Better the implementation of checksums.
  backend/app/api/models.py
  backend/app/models.py
  client/maisie/cli/models.py
  client/maisie/resources/models.py
Owners: @mkochanowski, @zofiakochutek

Change urls to maisie-dev
  README.rst
  client/README.rst
  client/setup.py
  docs/contributing.rst
  docs/index.rst
Owners: @zofiakochutek, @Clechay, @mkochanowski

Add initial tests to models and projects cli
  backend/app/api/projects.py
  client/maisie/resources/models.py
  client/maisie/tests/test_models.py
  client/maisie/tests/test_projects.py
Owners: @mkochanowski, @zofiakochutek

Add an error message to the download method
  client/maisie/cli/models.py
  client/maisie/resources/models.py
Owners: @zofiakochutek

Add column checksum to database
  backend/migrations/versions/edd840572e9a_.py
Owners: @mkochanowski

Add initial tests to models resources.
  backend/app/api/models.py
  backend/app/api/utils.py
  client/maisie/resources/models.py
  client/maisie/tests/test_resources/params.json
  client/maisie/tests/test_resources/test_models.py
Owners: @mkochanowski, @zofiakochutek

Add initial tests.
  client/maisie/tests/test_resources/params.json
  client/maisie/tests/test_resources/test_models.py
Owners: @zofiakochutek

Add string type checking.
  backend/app/api/models.py
  backend/app/api/utils.py
Owners: @mkochanowski

Change return in models upload method
  client/maisie/resources/models.py
Owners: @zofiakochutek

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners

* @zofiakochutek @Clechay @mkochanowski
/client/ @zofiakochutek
/frontend/ @Clechay
/backend/ @mkochanowski
